.root {
    display: grid;
    grid-template-rows: 50px 100%;
    gap: 1rem;
}

* {
    font-family: 'Poppins';
    box-sizing: border-box;
}

/* .root div{
    border: 1px solid black;
} */

.header {
    background-color: teal;
    color: white;
    display: flex;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 16px;
}

.header a {
    text-decoration: none;
    font-size: 1rem;
    color:white;
    flex-grow: 1;

}

.car-card {
    filter: drop-shadow(4px 4px 4px 4px);
    border: 1px solid lightblue;
    max-width: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.car-card img {
    align-self: center;
    justify-self: center;
}

.price-info {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.kind-info {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.type-info {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.fuel-info {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.car-card button {
    background-color: teal;
    box-sizing: border-box;
    color:white;
    border: none;
    width: 100%;
    margin: 4px;
}